In [1]:
#위키독스 초보자를 위한 파이썬 300제 
print("hi")

hi

In [3]:
print("i\nlove\t\tcake")

i
love		cake

In [5]:
print("apple", "bear")

apple bear

In [6]:
print("red", "blue", sep=";")

red;blue

In [7]:
print("my", end=""); print("car")

mycar

In [8]:
print("my"); print("home")

my
home

In [9]:
a = 569
print(a, type(a))

569 <class 'int'>

In [10]:
v = "you"
s = "say"
print(v+"!", s)

you! say

In [12]:
xz = int(x)
yu = str(y)
sd = float(r)

In [91]:
l = "ha- p.p-y"
print(l[3], l[4])
print(l[-2:])
print(l[::2])
print(l[::-1])
print(l.replace("-", " "))
print(l.replace("-", ""))
#문자열을 리스트로 분리 저장
print(l.split("."))
print(l.split(".")[-1])
l.split()

  p
-y
h-ppy
y-p.p -ah
ha  p.p y
ha p.py
['ha- p', 'p-y']
p-y

['ha-', 'p.p-y']

In [55]:
ticker = "btc-kr-w"
ticker.split("-")

['btc', 'kr', 'w']

In [13]:
lang = 'python'
lang[0] = 'P'
#문자열 수정 불가능
print(lang)

TypeError: ignored

In [15]:
ss = "ageisaasd"
print(ss.replace("a", "A"))
ss.replace("a", "A")
print(ss)
#문자열 변경 불가능

AgeisAAsd
ageisaasd

In [19]:
tt = "8"
yy = "0"
print(tt+yy)
print((tt + " " + yy + " ") * 3)

80
8 0 8 0 8 0

In [17]:
print("jo" * 3)

jojojo

In [12]:
n1 = "이"
a1 = 2
print("름: %s 나: %d" %(n1, a1))

print("름: {} 나: {}".format(n1, a1))

print(f"름: {n1} 나: {a1}")

름: 이 나: 2
름: 이 나: 2
름: 이 나: 2

In [60]:
dd = "   g  o A   "
dd.strip()
print(dd)
print(dd.strip())

print(dd.rstrip())

dd.upper()
print(dd)
print(dd.upper())

print(dd.lower())

ddd = "uri"
print(ddd.capitalize())

fn = "o456.xlsx"
#fn.endswith("xlsx")

#fn.endswith(("xlsx", "xls"))

fn.startswith("o4")

dd.split()

   g  o A
g  o A
   g  o A
   g  o A
   G  O A
   g  o a
Uri

['g', 'o', 'A']

In [96]:
#리스트 순서o 수정 가능
mm = ["오", "징"]
mm.append("어")
print(mm)
mm.insert(1, "레")
print(mm)
del mm[2]
del mm[2]
print(mm)
nn = ["fat", "cute"]
ss = mm + nn
print(ss)
nu = [3, 50, 8]
print("mx: ", max(nu))
print("min: ", min(nu))
print(sum(nu))
print(len(nu))
print(sum(nu) / len(nu))
nu.sort()
print(nu)
nu2 = [5, 2, 1]
print(sorted(nu2))
print(ss[1:])
print(ss[::2])
print(ss[::-1])
print(ss[2], ss[3])
#리스트를 문자열로 붙
print("/".join(ss))
print("\n".join(ss))

['오', '징', '어']
['오', '레', '징', '어']
['오', '레']
['오', '레', 'fat', 'cute']
mx:  50
min:  3
61
3
20.333333333333332
[3, 8, 50]
[1, 2, 5]
['레', 'fat', 'cute']
['오', 'fat']
['cute', 'fat', '레', '오']
fat cute
오/레/fat/cute
오
레
fat
cute

In [105]:
#튜플 순서o 수정 불가능
g = ()
print(type(g))
gg = ("ra", "men" ,"good")
#하나의 데이터 저장, 쉼표 입력
ff = (2, )
#튜플 원소의 값 수정 불가능
gg = ("re", "men")
print(gg)
#튜플을 리스트로
print(list(gg))
#리스트를 튜플로
gl = ["g", "dra"]
print(tuple(gl))
#튜플 언팩킹
a, b = gg
print(a, b)
print(tuple(range(2, 100, 2)))

<class 'tuple'>
('re', 'men')
['re', 'men']
('g', 'dra')
re men
(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)

In [126]:
#딕셔너리 순서x key 데이터의 레이블 지정, value
#star expression 변수의 개수 달라도 데이터 언패킹
a, b, *c = (3, 7, 0, 9, 2, 3)
print(a)
print(b)
print(c)
s = [6, 8, 9, 4, 5, 8]
_, *v, _ = s
print(v) 
i = {"한": 7, "미": 2}
print(i)
i["프"] = 3
print(i)
print("한 가: ", i["한"])
i["미"] = 100
print(i)
del i["프"]
print(i)
print(sum(i.values()))
#키로 인덱싱
ne = {"영": 4, "브": 8}
i.update(ne)
print(i)

3
7
[0, 9, 2, 3]
[8, 9, 4, 5]
{'한': 7, '미': 2}
{'한': 7, '미': 2, '프': 3}
한 가:  7
{'한': 7, '미': 100, '프': 3}
{'한': 7, '미': 100}
107
{'한': 7, '미': 100, '영': 4, '브': 8}

In [123]:
ii = {"고": [1, 200],
      "구": [3, 100]}
print(ii)
print(ii["고"][0], "개")
ii["마"] = [0, 19] 
print(ii)
#key값 리스트
print(ii.keys())
#values 값 리스트
ii.values()

{'고': [1, 200], '구': [3, 100]}
1 개
{'고': [1, 200], '구': [3, 100], '마': [0, 19]}
dict_keys(['고', '구', '마'])

dict_values([[1, 200], [3, 100], [0, 19]])

In [129]:
#두 개의 튜플을 하나의 딕셔너리
keys = ("아", "뵤")
v = (0, 23)
r = dict(zip(keys, v))
print(r)

{'아': 0, '뵤': 23}

In [130]:
#두 개의 리스트를 딕셔너리
d = ["4/3", "10/9"]
nm = [3, 8]
x = dict(zip(d, nm))
print(x)

{'4/3': 3, '10/9': 8}

In [132]:
#bool 타입
print(1 < 3 < 4)
print ((3 == 3) and (5 != 3))
print(3 >= 7)

True
True
False

In [134]:
u = input("입:")
print(4 + int(u))

입:5
9

In [137]:
s = input("")
v = int(s)
if v % 2 == 0:
  print("짝")
elif v == 3:
  print(33)
else:
  print("홀")

3
33

In [1]:
f = ["a", "c"]
u = input("like?")
if u in f:
  print("t")
else:
  print("f")

like?c
t

In [9]:
#입력 값이 키값에 포함
f = {"a": "5", "v": 8}
u = input("w: ")
if u in f:
  print("t")
#입력 값이 딕셔너리 값 value에 포함
elif u in f.values():
  print("tt")
  #.isupper()
elif u.islower():
  print(u.upper())
elif 100 <= int(u) <= 600:
  print(8)
else:
  print("f")

w: 300
8

In [ ]:
if 1 <= s <= 4:
  print

In [11]:
d = {"고": 7,
     "등": 8}
u = input("")
n, c = u.split()
print(float(n) * d[c], "원")

9 등
72.0 원

In [ ]:
#and or not
if n >= x and n>= y:
if (a < 4) or (a % 3 == 0):
if not s.isupper():

In [14]:
#딕셔너리로 가져오는
import requests
b = requests.get("https://api.bithumb.com/public/ticker/").json()['data']
print(b["min_price"])

47086000

In [18]:
#for 횟수 정/적 while 크/무한
a = ["ㅎ", "ㅊ"]
for s in a:
  print(s)
for s in [1, 3, 4]:
  print("x")

ㅎ
ㅊ
x
x
x

In [19]:
#첫 번째 데이터를 바인딩 들여쓰기 코드 실행
print("s: " + "os")

s: os

In [ ]:
list(range(3))
#0부터 까지 숫자 리스트
for i in range(8):

In [20]:
print(list(range(0, 10, 2)))

[0, 2, 4, 6, 8]

In [ ]:
h += 1

In [21]:
l = [4, 8, 10]
for i, d in enumerate(l):
  print(i, d)

0 4
1 8
2 10

In [ ]:
abs()
v = []
v.append(2)

In [25]:
#행을 하나의 리스트 이차원 리스트
a = [["1", "2"], ["3", "4"]]
for row in a:
  for col in row:
    print(col, "호")
for row in a[::-1]:
  for col in row:
    print(col, "호")
for row in a[::-1]:
  for col in row[::-1]:
    print(col)

1 호
2 호
3 호
4 호
3 호
4 호
1 호
2 호
4
3
2
1

In [31]:
data = [
        [4, 8 ,9],
        [5, 9 ,2],
        [8, 0, 7]
]
r = []
for l in data:
  s = []
  for column in l:
    s.append(column)
  r.append(s)
print(r)
for l in data[1:]:
  print(l[2])

[[4, 8, 9], [5, 9, 2], [8, 0, 7]]
2
7

In [ ]:
#변수 어떤 값 바인딩 함수 어떤 코드 바인딩
def s():
#함수를 호출할 때 하나의 파라미터를 입력
def h(a, b):
h(b=3, a=4)
#함수 내부에서 사용한 변수 함수 밖에서 접근 불가능
#함수 내부에서 계산한 값 전달 return

In [32]:
#문자열을 리스트로
list("hop")

['h', 'o', 'p']

In [7]:
#파이썬 모듈 파이썬 파일
import datetime
now = datetime.datetime.now()
print(now, type(now))
for day in range(5, 0, -1):
  delta = datetime.timedelta(days=day)
  date = now - delta
  print(date)
print(now.strftime("%H:%M:%S"))
d = "2022-03-02"
r = datetime.datetime.strptime(d, "%Y-%m-%d")
print(r, type(r))

2022-02-22 01:31:44.683794 <class 'datetime.datetime'>
2022-02-17 01:31:44.683794
2022-02-18 01:31:44.683794
2022-02-19 01:31:44.683794
2022-02-20 01:31:44.683794
2022-02-21 01:31:44.683794
01:31:44
2022-03-02 00:00:00 <class 'datetime.datetime'>

In [8]:
import time
import datetime
while True:
  now = datetime.datetime.now()
  print(now)
  time.sleep(1)

2022-02-22 01:33:23.855263
2022-02-22 01:33:24.857194
2022-02-22 01:33:25.859163
2022-02-22 01:33:26.860995
2022-02-22 01:33:27.862624
2022-02-22 01:33:28.863886
2022-02-22 01:33:29.864345

KeyboardInterrupt: ignored

In [10]:
import os
r = os.getcwd()
print(r, type(r))
os.rename("C:/Users/juzero/Desktop/b.txt", "C:/Users/juzero/Desktop/a.txt")

/content <class 'str'>

FileNotFoundError: ignored

In [12]:
import numpy
for i in numpy.arange(0, 5, 0.1):
  print(i)

0.0
0.1
0.2
0.30000000000000004
0.4
0.5
0.6000000000000001
0.7000000000000001
0.8
0.9
1.0
1.1
1.2000000000000002
1.3
1.4000000000000001
1.5
1.6
1.7000000000000002
1.8
1.9000000000000001
2.0
2.1
2.2
2.3000000000000003
2.4000000000000004
2.5
2.6
2.7
2.8000000000000003
2.9000000000000004
3.0
3.1
3.2
3.3000000000000003
3.4000000000000004
3.5
3.6
3.7
3.8000000000000003
3.9000000000000004
4.0
4.1000000000000005
4.2
4.3
4.4
4.5
4.6000000000000005
4.7
4.800000000000001
4.9

In [18]:
#파이썬 클래스 타입을 만들어내는 도구 int, float, str
#클래스 정의 클래스의 인스턴스 생성 클래스에 을 받는 생성자 추가 
#인스턴스 변수에 접근하여 값을 출력
#을 받는 메소드 추가
#를 출력하는 소멸자 추가
class H:
  def __init__(self, n, a, s):
    self.n = n
    self.a = a
    self.s = s
  def __del__(self):
    print("밀")
    
  def w(self):
    print("름: {} 나: {} 성: {}".format(self.n, self.a, self.s))
  def se(self, n, a, s):
    self.n = n
    self.a = a
    self.s = s
v = H("이", 3, "여")
print(v.n, v.a)
v.w()
b = H("몰", "몰", "몰")
b.w()
b.se("차", 4, "여")
b.w()
del(b)

이 3
름: 이 나: 3 성: 여
름: 몰 나: 몰 성: 몰
름: 차 나: 4 성: 여
밀

In [20]:
class OMG :
    def print(self) :
        print("Oh my god")


mystock = OMG()
mystock.print()

Oh my god

In [44]:
#값을 변경할때 사용하는 set 메서드
#클래스의 객체를 바인딩
#클래스 변수
import random
class S:
  t = 0
  def __init__(self, n, c, r):
    self.dt = 0
    self.dl = []
    self.n = n
    self.c = c
    self.r = r
    self.co = "한"
    u = random.randint(0, 99)
    u = str(u).zfill(2)
    self.uu = u + "-"
    S.t += 1
  
  def sn(self, n):
    self.n = n
  def sc(self, c):
    self.c = c 
  def gc(self):
    return self.c
  def gn(self):
    return self.n
  #데코레이터
  #self 인스턴스 메소드
  @classmethod
  def gt(cls):
    print(cls.t)
  def d(self, am):
    self.r += am
    self.dt += 1
    self.dl.append(am)
  def p(self):
    print(self.n, self.r, self.c, self.co, self.uu)
  def dh(self):
    for aa in self.dl:
      print(aa) 
삼 = S("삼", "3", 4)
삼.p()
삼.d(100)
삼.d(1000)
삼.dh()
print(삼.r)
print(삼.co, 삼.uu)
print(삼.c)
print(S.t)
m = S(None, None, 9)
m.sn("네")
m.sc("8")
삼.gt()
m.gt()
print(S.t)
print(m.n, m.c)
print(삼.gc(), 삼.gn())
삼.sc("5")
print(삼.c)
al = []
al.append(삼)
al.append(m)
for o in al:
  if o.r > 100:
    o.p()

print(al)
for i in al:
  print(i.c, i.n)

삼 4 3 한 87-
100
1000
1104
한 87-
3
1
2
2
2
네 8
3 삼
5
삼 1104 5 한 87-
[<__main__.S object at 0x7f37734bd390>, <__main__.S object at 0x7f3773453890>]
5 삼
8 네

In [ ]:
#클래스 정의 클래스 상속
class 차:
  def __init__(self, 바, 가):
    self.바 = 바
    self.가 = 가
class 자(차):
  def __init__(self, 바, 가):
    self.바 = 바
    self.가 = 가
b = 자(2, 10)

In [ ]:
class 차:
  def __init__(self, 바, 가):
    self.바 = 바
    self.가 = 가
class 자전(차):
  def __init__(self, 바, 가, 회):
    super().__init__(바, 가)
    self.회 = 회
b = 자(2, 10, "삼")

In [48]:
class 차:
  def __init__(self, 바, 가):
    self.바 = 바
    self.가 = 가
class 자동(차):
  def __init__(self, 바, 가):
    super().__init__(바, 가)
  def 정(self):
    print(self.바)
c = 자(4, 79)
c.정()

4

In [52]:
class 차:
  def __init__(self, 바, 가):
    self.바 = 바
    self.가 = 가
  def 정(self):
    print(self.가)
class 자동(차):
  def __init__(self, 바, 가):
    super().__init__(바, 가)
class 자전(차):
  def __init__(self, 바, 가, 회):
    super().__init__(바, 가)
    self.회 = 회
  def 정(self):
    super().정()
    print(self.회)
b = 자전(2, 50, "삼")
b.정()

50
삼

In [53]:
#메서드 오버라이딩
class 부:
  def 호(self):
    print("부호")
class 자(부):
  def 호(self):
    print("자호")
나 = 자()
나.호()

자호

In [54]:
class 부:
  def __init__(self):
    print("부생")
class 자(부):
  def __init__(self):
    print("자생")
나 = 자()

자생

In [55]:
#부모클래스 생성자 호출
class 부:
  def __init__(self):
    print("부생")
class 자(부):
  def __init__(self):
    print("자생")
    super().__init__()
나 = 자()

자생
부생

In [57]:
f = open("C:/Users/juzero/Desktop/a.txt", mode="wt", encoding="utf-8")
f.write("dd\n")
f.write("89")
f.close()

FileNotFoundError: ignored

In [ ]:
import csv
f = open("C:/Users/juzero/Desktop/a.csv", mode="wt", encoding="cp949", newline="")
writet = csv.writer(f)
writer.writerow(["보", "석"])
writer.writerow([6, 0])
f.close()

In [ ]:
f = open("C:/Users/juzero/Desktop/a.txt", encoding="utf-8")
lines = f.readlines()
codes = []
for line in lines:
  code = line.strip()
  codes.append(code)
print(codes)
f.close()

In [ ]:
f = 

data = {}
for line in lines:
  line = line.strip()
  k, v = line.split()
  data[k] = v
print(data)
f.close()

In [59]:
#예외처리 에러 발생
p = ["2", ""]
np = []
for i in p:
  try:
    nn = float(i)
  except:
    nn = 0
  np.append(nn)
print(np)

[2.0, 0]

In [60]:
#특정 예외만 처리
try:
  b = 3 / 0
except ZeroDivisionError:
  print("no")

no

In [61]:
#예외 발생 시 에러 메세지를 변수로 바인딩
data = [1, 2, 3]
for i in range(5):
  try:
    print(data[i])
  except IndexError as e:
    print(e)

1
2
3
list index out of range
list index out of range

In [62]:
p = ["20", ""]
for i in p:
  try:
    print(float(i))
  except:
    print(0)
  else:
    print("do")
  finally:
    print("end")

20.0
do
end
0
end